body {
  box-sizing: border-box;
  font-family: sans-serif;
}

.nama {
  display: flex;
  justify-content: space-around;
  max-width: 1238px;
}
.container h2 {
  text-align: center;
  padding: 15px 0;
}
.bangun {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.persegi {
  width: 100px;
  height: 100px;
  background-color: plum;
}
.lingkaran {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border-radius: 50px;
}
.segitiga {
  width: 0;
  height: 0;
  border-bottom: 100px solid rgb(4, 248, 118);
  border-left: 50px solid #fff;
  border-right: 50px solid #fff;
}
.persegiPanjang {
  width: 150px;
  height: 70px;
  background-color: pink;
}
.jajarGenjang {
  width: 150px;
  height: 75px;
  background-color: orangered;
  transform: skew(20deg);
}
.cal {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: black;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  text-transform: uppercase;
  margin: 80px;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #7ab9f8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}


@media (max-width: 576px) {
.bangun {
   display: flex;
   flex-direction: column;
   margin: 30px 0; 
}
.persegi, .lingkaran, .segitiga, .persegiPanjang, .jajarGenjang {
    margin-top: 30px;
}
.nama {
    display: none;
}
}
